.login-user .border-gray-400 {
    width: 35% !important;
}

.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .login-user .border-gray-400{
        width: 50% !important;
    }
}

@media screen and (max-width: 500px){
    .login-user .border-gray-400{
        width: 95% !important;
    }

    .login-user .sm\:w-auto {
        width: 50%;
    }

    .login-user .sm\:w-auto:hover {
        background-color: none;
    }

}